/* Base page sizing */
html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none border-0 outline-none;
  }
}